<!DOCTYPE html>
<html lang="ko" layout:decorate="~{usr/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>주문 상세</title>
</head>
<body>
<main layout:fragment="main">
    <table>
        <tr>
            <th>주문번호</th>
            <td>
                <div th:text="${orderId}"></div>
            </td>
        </tr>
        <tr>
            <th>주문상태</th>
            <td>
                <div th:text="${currentStatus}"></div>
            </td>
        </tr>
        <tr th:if="${order == null}">
            <th>주문 정보</th>
            <td>주문 정보가 존재하지 않습니다.</td>
        </tr>
        <tr th:if="${order!=null}">
            <th>주문명</th>
            <td>
                <span th:text="${order.name}"></span>
            </td>
            <th>스토어명</th>
            <td>
                <a th:href="@{|/product/detail/${order.storeId}|}">
                    <span th:text="${order.storeName}"></span>
                </a>
            </td>
            <th>상품명</th>
            <td>
                <a th:href="@{|/product/detail/${order.productId}|}">
                    <span th:text="${order.productName}"></span>
                </a>
            </td>
            <th>가격</th>
            <td>
                <div th:text="${order.price}"></div>
            </td>
            <th>적용된 할인 가격</th>
            <td>
                <div th:text="${order.salePrice}"></div>
            </td>
            <th>배송자명</th>
            <td th:text="${order.recipient}"></td>
            <th>주소</th>
            <td th:text="${order.mainAddress}"></td>
            <th>상세주소</th>
            <td th:text="${order.subAddress}"></td>
            <th>결제금액</th>
            <td th:text="${order.totalPrice}"></td>
        </tr>
    </table>
    <a th:href="@{|/order/list|}" th:text="목록으로"></a>

    <form th:action="@{|/order/confirm/${orderId}|}" th:if="${currentStatus == T(com.ll.gong9ri.boundedContext.order.entity.OrderStatus).GROUP_BUY_CREATED}" th:method="PUT">
        <button type="submit">옵션 선택</button>
    </form>

    <form th:action="@{|/order/confirm/${orderId}|}" th:if="${currentStatus == T(com.ll.gong9ri.boundedContext.order.entity.OrderStatus).CREATED}" th:method="POST">
        <button type="submit">결제</button>
    </form>

    <script>
        document.getElementById("createPaymentAction").addEventListener("click", function() {
            const orderId = document.querySelector("td div[th\\:text='order.orderId']").textContent;
            const currentStatus = document.querySelector("td div[th\\:text='order.currentStatus']").textContent;
            const orderName = document.querySelector("td span[th\\:text='order.name']").textContent;
            const storeName = document.querySelector("td a span[th\\:text='order.storeName']").textContent;
            const productName = document.querySelector("td a span[th\\:text='order.productName']").textContent;
            const price = document.querySelector("td div[th\\:text='order.price']").textContent;
            const salePrice = document.querySelector("td div[th\\:text='order.salePrice']").textContent;
            const recipient = document.querySelector("td[th\\:text='order.recipient']").textContent;
            const mainAddress = document.querySelector("td[th\\:text='order.mainAddress']").textContent;
            const subAddress = document.querySelector("td[th\\:text='order.subAddress']").textContent;
            const totalPrice = document.querySelector("td[th\\:text='order.totalPrice']").textContent;

            axios.post('${createPayment}', {
                orderId: orderId,
                currentStatus: currentStatus,
                orderName: orderName,
                storeName: storeName,
                productName: productName,
                price: price,
                salePrice: salePrice,
                recipient: recipient,
                mainAddress: mainAddress,
                subAddress: subAddress,
                totalPrice: totalPrice
            })
                .then(function (response) {
                    // 결제 페이지로 이동
                    window.location.href = response.data.payment_url;
                    location.href = `/order/detail/${res.data}`;
                })

        });
    </script>
</main>
</body>
</html>